<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.netknights.piauthenticator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".viewcontroller.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewcontroller.EnterDetailsActivity"
            android:screenOrientation="portrait"
            android:label="Enter Details"
            android:parentActivityName=".viewcontroller.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.netknights.piauthenticator.viewcontroller.MainActivity" />
        </activity>

        <activity
            android:name=".viewcontroller.AboutActivity"
            android:screenOrientation="portrait"
            android:label="About"
            android:parentActivityName=".viewcontroller.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.netknights.piauthenticator.viewcontroller.MainActivity" />
        </activity>

        <service android:name=".services.FCMReceiverService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".services.PushAuthService"
            android:icon="@mipmap/ic_launcher"
            android:label="PushAuthService">
        </service>

        <!-- remove the firebase init -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
    </application>


</manifest>